[submodule "mtpaint"]
	path = mtpaint
	url = https://github.com/mineufba/mtpaint.git
[submodule "Minetest-WorldEdit"]
	path = worldwdit_master
	url = https://github.com/mineufba/Minetest-WorldEdit.git
[submodule "unified_inventory"]
	path = unified_inventory
	url = https://github.com/mineufba/unified_inventory.git
[submodule "areas"]
	path = areas
	url = https://github.com/mineufba/areas.git
